# Virtual environments
.venv/
.env/
.env
env/
venv/

# VS Code settings
.vscode/

# PyCharm
.idea/

# Python
__pycache__/

# Hidden files
.DS_Store

# Project database
archive/
data/*
ASL_Alphabet_Dataset/*
images/